
.actions {
    position: absolute;
    right: 1em;
    width: 7em;
    top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

body:has(.part_container[target="true"]) .actions {
    display: none;
}
.actions * {
    font-size: 1.6em;
    border: none;
    background-color: transparent;
    color: black;
    font-style: normal;
    text-decoration: none;
}
/* 
.scrapbook:nth-child(8n) {
    page-break-after: always;
} */
.scrapbook .card {
    page-break-inside: avoid;
}




.scrapbook {
    font-size: 0.25in;
    transform: translateY(-200%);
    position: absolute;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    
    right: 0;
    /* transition: all 0.3s; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.5em;
    background-color: white;
    overflow-y: scroll;

}

