@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.top_bar {
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate( -50%,0);
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;
}

body {
    overflow: hidden;
}

html {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    background-position: 3em 2em;
    --s: 100px; /* control the size*/
    --c1: #3366661b;
    --c2: #ffffff5b;
    --_g: #0000 90deg,var(--c1) 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      var(--c2);
    background-position-y: bottom;
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
    font-size: 1vw;
  }

.top_bar #creature_name {
    height: 1em;
    font-size: 3em;
    outline: white;
}

.top_bar i {
    display: none;
    font-size: 3em;
}
.top_bar:hover i {
    display: block;
    font-size: 3em;
}

#creature_name[contenteditable="true"] + i {
    display: none;
}

.canvas {
    z-index: -1000;
}

#left_bar {
    position: absolute;
    background-color: rgb(239, 239, 239);
    padding-right: .2em;
    padding-top: .2em;
    top: 0.0em;
    bottom: 0;
    left: 0;
    width: 18em;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0.0 0.0em 0.2em #000000);

}

#type_selector {
    display: flex;
    height: min-content;
    width: 95%;
    margin: 0.2em;
    padding: 0.2em;
    flex-direction: row;
    flex-wrap: wrap;
    outline: 1px solid rgb(36, 36, 36);
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(251, 250, 250); */

}

.part_type {
    width: 2.4em;
    height: 3em;
    object-fit: contain;

    cursor: pointer;
    
    filter: grayscale(100%) opacity(20%);
}

.part_type:hover {
    filter: grayscale(100%) opacity(50%);
}

.part_type[selected="true"] {
    filter: grayscale(0%) opacity(100%);
}

.item_list {
    display: flex;
    height: 79vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em;
    padding-top: 0.4em;
    overflow-y: scroll;
    overflow-x: hidden;
}


.item_attb {
    position: absolute;
    top: 0;
    right: 0;
    width: 11em;
    gap: 0.8em;

    overflow-y: scroll;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.8em;
}

.item_attb * {
    margin-top: 0.4em;
}

body:not(:has(.part_container[target="true"])) .item_attb {
    display: none;
}

.item_list .body_part p {
    padding: 0;
    margin: 0;
}
.item_list .body_part {
    flex-direction: column;
    border: 1px solid black;
    width: 40%;
    font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 0.2em;
  height: min-content;
  background-color: rgb(255, 251, 238);
}

.item_list img {
    width: 95%;
    padding: 2%;
}

.canvas {
    position: absolute;
    left: calc( 50vw - 20em);
    top: calc( 50vh - 20em);
    height: 40em;
    width: 40em;
    background-color: white;
    filter: drop-shadow(0.0 0.0em 0.2em #000000);
    z-index: 10;
}

.part_container {
    position: absolute;
    transition: transform 0.03s;
    transform-style: preserve-3d;
    transform-origin: top left;
    transform: translate(-50%, -50%);
}

.part_container[target="true"] {
    outline: 1.5px solid blue;
}

.part_img {
    width: 8em;
}


.current_stats {
    background-color: rgba(255, 255, 255, 0);
    height: 15em;
    width: 11em;
    position: absolute;
    right: 3em;
    bottom: 3em;
    padding: 0.4em;
    transform-origin: bottom right;
    transition: all 0.3s;
    scale: 1;
    z-index: 12;
}


