@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.top_bar {
    position: static;
    left: 0;
    top: 0;
    right: 0;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;
}
html {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    background-position: 3em 2em;
    --s: 100px; /* control the size*/
    --c1: #3366661b;
    --c2: #ffffff5b;
    
    --_g: #0000 90deg,var(--c1) 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g)),
      var(--c2);
    background-position-y: bottom;
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
  }

.top_bar #creature_name {
    height: 1em;
    font-size: 3em;
    outline: white;
}

.top_bar i {
    display: none;
    font-size: 3em;
}
.top_bar:hover i {
    display: block;
    font-size: 3em;
}

#creature_name[contenteditable="true"] + i {
    display: none;
}

.canvas {
    z-index: -1000;
}

#left_bar {
    position: absolute;
    background-color: rgb(239, 239, 239);

    top: 0.5em;
    bottom: 0;
    left: 0.5;
    width: 18em;
    display: flex;
    flex-direction: column;

}

#type_selector {
    display: flex;
    height: min-content;
    width: 95%;
    margin: 0.2em;
    padding: 0.2em;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
    background-color: rgb(251, 250, 250);

}

.part_type {
    width: 2.4em;
    height: 3em;
    object-fit: contain;

    cursor: pointer;
    
    filter: grayscale(100%) opacity(20%);
}

.part_type:hover {
    filter: grayscale(100%) opacity(50%);
}

.part_type[selected="true"] {
    filter: grayscale(0%) opacity(100%);
}

.item_list {
    display: flex;
    height: 79vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em;
    padding-top: 0.4em;
    overflow-y: scroll;
    overflow-x: hidden;
}


.item_attb {
    position: absolute;
    top: 0;
    right: 0;
    width: 11em;
    gap: 0.5em;
    overflow-y: scroll;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.8em;
}

body:not(:has(.part_container[target="true"])) .item_attb {
    display: none;
}

.item_list .body_part p {
    padding: 0;
    margin: 0;
}
.item_list .body_part {
    flex-direction: column;
    border: 1px solid black;
    width: 40%;
    font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 0.2em;
  height: min-content;
  background-color: rgb(255, 251, 238);
}

.item_list img {
    width: 95%;
    padding: 2%;
}

.canvas {
    position: absolute;
    left: calc( 50vw - 20em);
    top: calc( 50vh - 20em);
    height: 40em;
    width: 40em;
    background-color: white;
    filter: drop-shadow(0.0 0.0em 0.2em #000000);

}

.part_container {
    position: absolute;
    transition: transform 0.03s;
    transform-style: preserve-3d;
    transform-origin: top left;
    transform: translate(-50%, -50%);
}

.part_container[target="true"] {
    outline: 1.5px solid blue;
}

.part_img {
    width: 8em;
}


.card {
    outline-offset: -0.1em;
    outline: 0.1em rgb(86, 79, 1) groove;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    overflow: -moz-hidden-unscrollable;
    overflow-clip-margin: 1.4rem;
    position: relative;
    /* outline: 0.07em solid black; */
    background-color: rgb(254, 255, 241);
    border: 25px solid #ffffff00;
    background-image: url("repeating_light_gray_texture.jpg");
    background-repeat: repeat;
    background-size: 4em;
    background-blend-mode: multiply;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
      25;

}

.card p {
    font-size: 0.7em;
    /* padding-bottom: 0.2em */
}
.card_img {
    z-index: 10;
    image-rendering: auto;
    position: relative;
    top: -5%;
    /* transform: scale(0.8); */
    scale: 0.8;
    filter: drop-shadow(0.0 0.07em 0.08em #000000);
}

.card_sub_img {
    transform-style: preserve-3d;
    transform-origin: top left;
    position: absolute;
}

.current_stats {
    background-color: white;
    height: 15em;
    width: 11em;
    position: absolute;
    right: 3em;
    bottom: 3em;
    padding: 0.4em;
    transform-origin: bottom right;
    transition: all 0.3s;
    scale: 1;
}

.text_container {
    bottom: 0.3em;
    left: 0;
    right: 0;
    position: absolute;
    /* display: flex; */
    height: 30%;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    scale: 0.95;
    
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr 1fr 0.3fr 0fr;
    /* gap: 0.2em; */
    background-color: white;
    /* border: solid black 0.1em; */
    filter: drop-shadow(0.0 0.07em 0.07em #000000);
    /* border-radius: 0.1em; */

}
.text_container > * {
    padding: 0;
    margin: 0;
    height: 1em;
}


.text_container >*:nth-child(3n + 2) {
    text-align: right;
}


.creature_title {
    /* padding-left: 0.5em; */
    padding: 0.1em;
    margin: 0.1em;
    position: absolute;
    z-index: 1;
    /* font-size: 1.3em !important; */
    padding-bottom: 0.0em !important;
    margin: 0.1em !important;
    padding-top: 0.2em;
    background-color: white;
    filter: drop-shadow(0.0 0.07em 0.07em #000000);
    text-align: center;
}


.max_stat {
    font-weight: 900 !important;
    padding: 0.2em;
}

.int.max_stat {
    background-color: rgba(255, 0, 208, 0.303);
}

.pwr.max_stat {
    background-color: rgba(255, 123, 0, 0.303);
}

.def.max_stat {
    background-color: rgba(0, 255, 94, 0.303);
}
.mbl.max_stat {
    background-color: rgba(0, 119, 255, 0.303);
}

.hp.max_stat {
    background-color: rgba(255, 0, 0, 0.303);
}


.stl.max_stat {
    background-color: rgba(0, 0, 0, 0.303);
}




.current_stats:hover {
    font-size: 2.3em !important;
}

@media print {
    body {
      display: none !important;
    }
    .card {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

