
.top_bar {
    position: static;
    left: 0;
    top: 0;
    right: 0;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;
}

.top_bar #creature_name {
    height: 1em;
}

#creature_name[contenteditable="true"] + i {
    display: none;
}

#left_bar {
    position: absolute;

    top: 2em;
    bottom: 0;
    left: 0;
    width: 15em;
    display: flex;
    flex-direction: column;

}

#type_selector {
    display: flex;
    height: min-content;
    width: 100%;
    border: 1px solid black;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}

.part_type {
    width: 2.4em;
    height: 3em;
    object-fit: contain;

    cursor: pointer;

    filter: grayscale(100%) opacity(20%);
}

.part_type:hover {
    filter: grayscale(100%) opacity(50%);
}

.part_type[selected="true"] {
    filter: grayscale(0%) opacity(100%);
}

.item_list {
    display: flex;
    height: 79vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0.5em;
    overflow-y: scroll;
    overflow-x: hidden;
}


.item_attb {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10em;
    gap: 0.5em;
    overflow-y: scroll;
}

body:not(:has(.part_container[target="true"])) .item_attb {
    display: none;
}

.item_list .body_part p {
    padding: 0;
    margin: 0;
}
.item_list .body_part {
    flex-direction: column;
    border: 1px solid black;
    width: 45%;
}

.item_list img {
    width: 80%;
}

.canvas {
    position: absolute;
    left: 50vw;
    top: 50vh;
    border: 1px black solid;
    height: 40em;
    width: 40em;
    transform: translate(-50%, -50%);
}

.part_container {
    position: absolute;
    transition: transform 0.03s;
    transform-style: preserve-3d;
    transform-origin: top left;
    transform: translate(-50%, -50%);
}

.part_container[target="true"] {
    outline: 1.5px solid blue;
}

.part_img {
    width: 8em;
}

.background {
    margin: 1000em;
    background-color: burlywood;
    position: absolute;
    left: 50vw;
    right: 50vh;
    height: 0;
    width: 0;
}

